<div [class]="sidebarCollpaseClass" id="sideNavBar">
    <div class="sidebar-collapse-btn" *ngIf="isCollapsed" (click)="navbarExpand()">
        <i class="material-icons" style="margin-left: 32px;">chevron_right</i>
    </div>
    <div class="sidebar-collapse-btn" *ngIf="!isCollapsed" (click)="navbarCollapse()">
        <i class="material-icons" style="margin-left: 200px;">chevron_left</i>
    </div>

    <div *ngFor="let menu of sidebarDataSource">
        <div class="sidebar-menu" data-toggle="collapse" [attr.data-target]="'#collapse' + menu.menuId" aria-expanded="true" [attr.aria-controls]="'#collapse' + menu.menuId">
            <i class="material-icons md-18 sidebar-menu-icon">{{ menu.iconName }}</i>
            <a *ngIf="!isCollapsed">{{ menu.menuName }}</a>
            <!-- <div class="btn-group dropright">
                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropright</span>
                    </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div> -->
        </div>
        <div [id]="'collapse' + menu.menuId" class="collapse" [attr.aria-labelledby]="'heading' + menu.menuId" data-parent="" *ngIf="!isCollapsed">
            <div *ngFor="let item of menu.items" class="sidebar-submenu">
                {{ item.itemName }}
            </div>
        </div>
    </div>
</div>